<div class="content">
    <h2>Фильтр :</h2>
    <mat-form-field appearance="fill">
        <mat-label>Начальная дата</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="inputStart('change', $event)"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Конечная дата</mat-label>
        <input matInput [matDatepicker]="picker1" (dateChange)="inputEnd('change', $event)"/>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
</div>